@import '../../Variables.scss';


    .menu_container {
        background-color: $bg-light-color;
        position: absolute;
        top: calc(5vh - 1px);
        right: 0;
        width: 20%;
        height: calc(100vh - 5vh);
        border-left: 1px solid $bg-dark-color;

        & .menu_title {
            font-size: 2rem;
            text-align: center;
        }

        & .menu_gradient_container {
            display: flex;
            flex-direction: column;

            & .menu_empty {
                text-align: center;
                font-size: 2rem;
                margin-top: 5rem;
            }
        }

        & .menu_gradient {
            margin: 1rem auto;
            width: 90%;
            height: 10vh;
            border-radius: 1rem;

            & .menu_gradient_content {
                position: relative;
                font-size: 1.2rem;
                margin: auto;
                width: 75%;
                height: 100%;
                display: flex;
                justify-content: space-between;

                & .menu_gradient_content-1,
                & .menu_gradient_content-2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                & .removeBtn {
                    color: $bg-dark-color;
                    background-color: transparent;
                    position: absolute;
                    z-index: 10 !important;
                    top: 0rem;
                    right: -4rem;
                    padding: 1rem;
                    font-size: 1rem;

                    &:hover {
                        color: $bg-light-color;
                        animation: scaleUp .1s ease-in forwards;
                    }
                }

                & .menu_gradient_content-2 {
                    align-items: flex-end;
                }
            }
        }
    
}

.slideIn {
    animation: menuSlideLeft .5s ease-out;
}

.slideOut {
    animation: menuSlideRight .5s ease-in;
}

@keyframes menuSlideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes menuSlideRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes menuSlideDown {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes menuSlideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@media only screen and (max-width: 1550px) {
    .menu_container {
        z-index: 10;
        width: 23%;
    }
}

@media only screen and (max-width: 1350px) {
    .menu_container {
        top: initial;
        width: 100%;
        height: 100%;
        border: none;
        border-top: 1px solid $bg-dark-color;

        & .menu_gradient_container {
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(3,1fr);

            & .menu_empty {
                grid-column: 1 / -1;
                grid-row: 1 / -1;
            }
        }
    }

    .slideIn {
        animation: menuSlideUp .5s ease-in;
    }

    .slideOut {
        animation: menuSlideDown .5s ease-in;
    }
}

@media only screen and (max-width: 940px) {
    .menu_container {
        & .menu_gradient {
            & .menu_gradient_content {
                & .menu_gradient_content-1,
                & .menu_gradient_content-2 {
                    font-size: 1rem;
                }
                & .removeBtn {
                    right: -3rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .menu_container {
        & .menu_gradient {    
            & .menu_gradient_content {
                & .menu_gradient_content-1,
                & .menu_gradient_content-2 {
                    .menu_gradient_content-rgb {
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 650px) {
    .menu_container {

        & .menu_gradient {
            height: 5vh;
        }

        & .menu_gradient_container {
            display: flex;
        }
    }
}