@import '../../Variables.scss';

.header {
    padding: 1rem 0;
    background-color: $bg-light-color;
    border-bottom: 1px solid $bg-dark-color;

    & .header_container {
        height: $header-height;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10rem;

        & .header_colorSelector {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        & .header_util {
            width: 15rem;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

@media only screen and (max-width: 500px) {
    .header {

        & .header_container {
            height: 13vh;
            margin: 0;
            flex-direction: column-reverse;

            & .header_colorSelector {
                width: 95%;
                justify-content: space-evenly;
            }

            & .header_util {
                width: 95%;
                justify-content: space-evenly;
            }
        }
    }
}