@import '../../Variables.scss';

.header {
    background-color: $bg-light-color;
    border-bottom: 1px solid $bg-dark-color;

    & .header_container {
        height: $header-height;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50%;
    
        & .header_util {
            width: 10rem;
            display: flex;
            justify-content: space-evenly;
        }
    }
}