@import '../../Variables.scss';

.header {
    background-color: $bg-light-color;
    border-bottom: 1px solid $bg-dark-color;

    & .header_container {
        height: $header-height;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 10rem;

        & .header-colorSelector{
            width: calc(100vw - 10rem);
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        & .header_util {
            width: 10rem;
            display: flex;
            justify-content: space-evenly;
        }
    }
}