@import './Variables.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 10px;
} 

body { 
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;

    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

.btn {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: $bg-light-color;
    outline: none;

    &:hover {
        color: $bg-dark-color;
    }
}

.pointer:hover {
    cursor: pointer;
}

.underline {
    margin: auto;
    width: 25%;
    height: 1px;
    background-color: $bg-dark-color;
}